html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.25;
  background-color: #f3f3f3; }

::-moz-selection {
  background-color: rgba(85, 85, 85, 0.175); }

::selection {
  background-color: rgba(85, 85, 85, 0.175); }

::-webkit-input-placeholder {
  color: rgba(85, 85, 85, 0.375); }

:-ms-input-placeholder {
  color: rgba(85, 85, 85, 0.375); }

::-ms-input-placeholder {
  color: rgba(85, 85, 85, 0.375); }

::placeholder {
  color: rgba(85, 85, 85, 0.375); }

.wrap {
  display: flex;
  position: relative;
  height: 60vh;
  min-height: 15rem;
  padding: 2rem; }
  @media screen and (max-width: 767px) {
    .wrap {
      padding: 1rem; } }

.form {
  display: flex;
  position: relative;
  max-width: 100%;
  margin: auto; }
  .form .form__input {
    display: block;
    outline: none;
    width: 40rem;
    max-width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    font-size: 1.25rem;
    color: #555555;
    border: solid 1px rgba(85, 85, 85, 0.25);
    border-radius: 2px;
    -webkit-appearance: none; }
  .form .form__button {
    display: block;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    visibility: hidden;
    outline: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    opacity: 0;
    background: none;
    border: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    stroke: rgba(85, 85, 85, 0.75);
    transition: opacity 0.125s, stroke 0.375s; }
    .form .form__button:hover {
      stroke: #0069ff; }
  .form .form__message {
    display: block;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0.125rem;
    width: 100%;
    opacity: 0;
    font-size: 0.75rem;
    color: #0069ff;
    transition: opacity 0.75s; }
  .form.form--filled .form__button {
    visibility: visible;
    opacity: 0.75; }
  .form.form--copied .form__message {
    opacity: 0.75;
    transition-duration: 0.375s; }

.about {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem; }
  .about .about__github {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(85, 85, 85, 0.375);
    transition: fill .25s; }
    .about .about__github:hover {
      fill: rgba(85, 85, 85, 0.75); }
