.form {
  display: flex;
  position: relative;

  max-width: 100%;
  margin: auto;

  .form__input {
    display: block;

    outline: none;

    width: 40rem;
    max-width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;

    font-size: 1.25rem;
    color: $color-text;

    border: solid 1px rgba($color-text, 0.25);
    border-radius: 2px;

    -webkit-appearance: none;

    &:focus {
      border-color: rgba($color-links, 0.625);
      box-shadow: 0 0 0 0.125rem rgba($color-links, 0.25);
    }
  }

  .form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;

    outline: none;
    cursor: pointer;

    width: 2.5rem;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;

    background: none;
    border: none;
    transition: opacity 0.125s;

    .form__button-icon {
      width: 1rem;
      height: 1rem;

      fill: $color-text;
      transition: fill 0.5s, transform 0.375s;
    }

    &:hover .form__button-icon {
      transform: translateX(3px);
      fill: $color-links;
    }
  }

  .form__message {
    display: block;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0.125rem;

    width: 100%;
    opacity: 0;

    font-size: 0.75rem;
    color: $color-links;

    transition: opacity 0.75s;
  }

  &.form--filled .form__button {
    opacity: 0.75;
    visibility: visible;
  }

  &.form--copied .form__message {
    opacity: 0.75;
    transition-duration: 0.375s;
  }
}