// Font variables
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

// Color variables
$color-background: #f3f3f3;
$color-text: #555555;
$color-links: #0069ff;